name: Check burner-libs

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'docs/**'
    branches:
      - master

jobs:
  check_js_libs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - name: Enable corepack
        run: |
          export COREPACK_ENABLE_DOWNLOAD_PROMPT=0
          corepack enable
          yarn -v
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run tsc
        run: |
          cd packages/libburner
          yarn tsc
      - name: Pack libburner
        run: |
          cd packages/libburner
          yarn pack --dry-run
