name: Release libburner

on:
  push:
    tags:
      - 'libburner-v*'

jobs:
  release_main_lib:
    environment: production
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable corepack
        run: |
          export COREPACK_ENABLE_DOWNLOAD_PROMPT=0
          corepack enable
          yarn -v
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run tsc (libburner)
        run: |
          cd packages/libburner
          yarn tsc
      - name: Publish package to npmjs
        run: cd packages/libburner && yarn npm publish --provenance --access public
